{{- $s := site.Params }}
{{- $p := .Params }}
{{- $codeBlockConfig := partial "func/getCodeBlockSettings" . }}
<!DOCTYPE html>
<html
  lang="{{ .Lang }}"
  data-figures="{{ $p.figurePositionShow }}"
  {{ if .IsPage }}
    class="page"
  {{ else if .IsHome }}
    class="home"
  {{ end }}
  {{ with $s.enforceLightMode }}
    data-mode="lit"
  {{ end }}
  {{ with $s.enforceDarkMode }}
    data-mode="dim"
  {{ end -}}
>
  <head>
    {{- partial "head" . }}
    {{- partial "hooks/head-end" . }}

<!-- Lightbox2 CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">

<!-- Lightbox2 JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>


  </head>
  <body
    data-code="{{ $codeBlockConfig.max }}"
    data-lines="{{ $codeBlockConfig.lines }}"
    id="documentTop"
    data-lang="{{ .Lang }}"
  >
    {{- partialCached "scripts/google/tag-manager" (dict "noscript" true) }}
    {{- partial "header" . }}
    <main>
      {{- block "main" . }}{{ end }}
    </main>

    {{- partialCached "icons" . }}
    {{- partialCached "footer" . }}
    {{- partialCached "scripts/index" . }}
    {{- partialCached "hooks/body-end" . }}
  </body>
</html>
